@media (max-width:992px) {
  .form-add_skill select{
    margin-left: 0;
  }
}
@media (max-width:768px) {
  .content-item{
    width: 33.3%;
  }
  .img-wrapper{
    width: 40%;
  }
  .form-add_skill{
    width: 90%;
  }
  .form-add_skill input{
    width: 40%;
  }
  .form-add_skill select{
    margin-left: 15%;
  }
  .print-page{
    position: relative;
    right: 0;
    top: 0;
  }
}
@media (max-width:580px) {
  .content-item{
    width: 50%;
  }
  .img-wrapper{
    width: 45%;
  }
  .form-add_skill select{
    margin-left: 5%;
  }

}

@media (max-width:470px) {
  .header{
    flex-direction: column;
  }
  .header-content{
    width: 100%;
    padding-bottom: 30px;
  }
  .content{
    flex-direction: column;
  }
  .content-item{
    width: 100%;
  }
  .img-wrapper{
    width: 45%;
  }
  .form-add_skill input{
    width: 80%;
  }
  .form-add_skill select{
    margin-left: -30%;
  }
  .name, .location, .language {
    width: 90%;
  }
}
