@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'PT Sans', sans-serif;
  font-size: 15px; }

.container {
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 90%;
  max-width: 950px; }

/*классы для бэкграунда*/
.strong {
  background-color: black; }

.medium {
  background-color: #383838; }

.low {
  background-color: #a9a9a9; }

.button {
  background: grey;
  width: 20px;
  align-items: center;
  justify-content: center;
  height: 20px;
  border-radius: 50%;
  color: white;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  display: none;
  cursor: pointer;
  text-decoration: none;
  transition: 0.2s; }

.ok {
  right: 40px; }
  .ok:hover {
    background: green; }

.remove:hover {
  background-color: red; }

header {
  min-height: 240px;
  display: flex;
  flex-direction: row;
  background-color: #e6e6e6; }

.img-wrapper {
  width: 25%;
  height: 100%;
  overflow: hidden; }

.header-content {
  width: 75%;
  padding: 0 20px;
  padding-top: 10px;
  padding-bottom: 30px;
  position: relative; }

.print-page {
  position: absolute;
  right: 20px;
  top: 20px;
  padding: 5px 10px;
  text-transform: uppercase;
  background: black;
  border-radius: 20px;
  color: white;
  border: none;
  cursor: pointer;
  transition: 0.2s; }
  .print-page:hover {
    background: gray;
    color: black; }

.img-wrapper img {
  width: 100%; }

.name h2 {
  font-size: 2rem; }

.skills-list li {
  display: inline-block;
  margin: 0 5px; }

.name h2, .location p, .language p {
  padding: 3px 10px;
  width: 100%; }
  .name h2:focus, .location p:focus, .language p:focus {
    background-color: #fff; }

.name, .location, .language {
  position: relative;
  width: 70%;
  border: 1px solid transparent;
  border-radius: 4px;
  transition: 0.2s; }
  .name:hover, .location:hover, .language:hover {
    border: 1px solid gray; }

.add_skill {
  position: relative;
  margin-top: 10px; }

.add_skill a {
  position: absolute;
  top: 5px;
  color: black;
  text-decoration: none;
  transition: 0.2s; }
  .add_skill a:hover {
    color: gray; }

.skills-list {
  margin-top: 20px; }

.skills-list li {
  position: relative;
  padding: 3px 10px;
  padding-bottom: 5px;
  margin-bottom: 10px;
  transition: 0.2s;
  border-radius: 5px; }
  .skills-list li:hover {
    background-color: gray;
    color: black; }

.skills-list li a {
  color: white;
  text-decoration: none; }

.remove-skill {
  background: red;
  display: inline-flex;
  width: 20px;
  align-items: center;
  justify-content: center;
  height: 20px;
  border-radius: 50%;
  color: white;
  position: absolute;
  right: 0;
  opacity: 0;
  cursor: pointer;
  transition: 0.2s; }
  .remove-skill:hover {
    transform: rotate(90deg); }

.form-add_skill {
  position: relative;
  display: none;
  width: 40%;
  background-color: white;
  border: 1px solid transparent; }

.form-add_skill input {
  width: 45%;
  padding: 5px 10px;
  border: none;
  outline: none; }

.form-add_skill select {
  margin-left: 10%;
  margin-right: 10px; }

.form-add_skill button {
  border-radius: 50%;
  border: none;
  padding: 5px;
  cursor: pointer;
  transition: 0.2s;
  outline: none; }
  .form-add_skill button:hover {
    background: green;
    color: white; }

.content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-left: 1px solid #e6e6e6; }

.content-item {
  width: 25%;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6; }

.item-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background: rgba(255, 255, 255, 0.6);
  text-align: center;
  min-height: 68px;
  max-height: 70px;
  overflow: hidden; }

.item-content {
  position: relative;
  padding: 10px;
  height: 100%; }

.item-content ul li {
  margin-left: 20px; }

.availability div {
  text-align: center;
  padding: 20px; }
  .availability div span {
    font-weight: bold;
    display: block;
    margin-bottom: 20px; }
  .availability div p {
    font-size: 0.8rem; }
  .availability div:first-child {
    border-bottom: 1px solid #e6e6e6; }

.availability h2 {
  font-size: 1.8rem; }

.item-content i {
  font-size: 3rem;
  color: lightgray;
  z-index: -1;
  position: absolute; }

.fa-quote-left {
  left: 5%;
  top: 3%; }

.fa-quote-right {
  right: 5%;
  bottom: 3%; }

.item-content .text {
  padding: 10px;
  padding-bottom: 0;
  font-style: italic; }

.author {
  text-align: right; }

@media (max-width: 992px) {
  .form-add_skill select {
    margin-left: 0; } }

@media (max-width: 768px) {
  .content-item {
    width: 33.3%; }
  .img-wrapper {
    width: 40%; }
  .form-add_skill {
    width: 90%; }
  .form-add_skill input {
    width: 40%; }
  .form-add_skill select {
    margin-left: 15%; }
  .print-page {
    position: relative;
    right: 0;
    top: 0; } }

@media (max-width: 580px) {
  .content-item {
    width: 50%; }
  .img-wrapper {
    width: 45%; }
  .form-add_skill select {
    margin-left: 5%; } }

@media (max-width: 470px) {
  .header {
    flex-direction: column; }
  .header-content {
    width: 100%;
    padding-bottom: 30px; }
  .content {
    flex-direction: column; }
  .content-item {
    width: 100%; }
  .img-wrapper {
    width: 45%; }
  .form-add_skill input {
    width: 80%; }
  .form-add_skill select {
    margin-left: -30%; }
  .name, .location, .language {
    width: 90%; } }
