* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'PT Sans', sans-serif;
  font-size: 15px;
}

.container{
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 90%;
  max-width: 950px;
}

/*классы для бэкграунда*/
.strong{
  background-color: black;
}
.medium{
  background-color: #383838;
}
.low{
  background-color: #a9a9a9;
}

.button{
  background: grey;
  width: 20px;
  align-items: center;
  justify-content: center;
  height: 20px;
  border-radius: 50%;
  color: white;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right:10px;
  display: none;
  cursor: pointer;
  text-decoration: none;
  transition: 0.2s;
}
.ok{
 right: 40px;
  &:hover{
      background: green;
  }
}

.remove:hover{
  background-color: red;
}

@import "./components/header";
@import "./components/content";
@import "./components/adaptive";
